@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mulish:wght@600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(65.25deg, rgba(255, 255, 255, 0.49) -1.59%, rgba(255, 255, 255, 0.46) 99.42%);
    border: 8px solid rgba(255, 255, 255, 0.7);
}

.container {
    max-width: 1291px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

a,
li{
    list-style: none;
    text-decoration: none;
}

/* About Us Section Styles Start */

.about-us__section{
    position: relative;
    padding-top: 133px;
    background-color: #FBFAFC;
}
.about-us__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    color: #FD695A;
}

.about-us__subtitle{
    width: 523px;
    margin-bottom: 26px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #3D3D3F;
}

.about-us__desc{
    width: 508px;
    margin-bottom: 31px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #515151;
}

.about-us__btn{
    margin-bottom: 25px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 41px;
    background: #FD695A;
    border: 2px solid #FD695A;
    border-radius: 50px;
}

.about-us__btn:hover{
    color: #FD695A;
    border: 2px solid #FD695A;
    background: transparent;
}

.Alex__box{
    position: absolute;
    top: calc(50% + 150px);
    left: calc(50% + 80px);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 8px 14px 6px 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.alex-box__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #37383D;
}

.alex-box__desc{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #37383d99;
}

.active-client{
    position: absolute;
    top: calc(50% + 5px);
    left: calc(50% + 160px);
    padding: 3px 16px 4px 31px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.93) 0%, #FFFFFF 100%);
    box-shadow: 0px 4px 22px #0000000d;
    border-radius: 5px;
}

.active-client::before{
    position:absolute;
    top: calc(50% - 65px);
    left: calc(50% - 110px);
    display:block;
    content: url(../images/Client-icon.svg);
    width: 46px;
    height: 46px;
    
}

.activ-client__num{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3D3D3F;
}

.activ-client__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;;
    text-align: center;
    color: #3D3D3F;
    opacity: 0.6;
}

.sales{
    position: absolute;
    top: calc(50% + 50px);
    left: calc(50% + 565px);
    padding: 24px 20px 17px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
}

.sales__title{
    margin-bottom: -10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3D3D3F;
}
/* About Us Section Styles End */


.our-work__section{
    background-color: #FBFAFC;
    padding-top: 120px;
}

.our-work-top__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    color: #FD695A;
}

.our-work-top__subtitle{
    margin-bottom: 26px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #3D3D3F;
}

.our-work-top__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 58px;
    
}

.our-work-item__link{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #CCCCCC;
}

.our-work-top__list-item:last-child>.our-work-item__link{
    margin-left: 176px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #3D3D3F;
}

.our-work-item__link:focus{
    padding-bottom: 10px;
    border-bottom: 4px solid #FD695A;
    color: #FD695A;
}

.our-work__end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.our-work-end__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}